<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
    <link rel="stylesheet" href="../static/send.css">

</head>
<body>
    <br><br>
    <h1>Welcome! 请点击上传图片</h1>

    <form action="" enctype='multipart/form-data' method='POST'>
       <div class="plus">
            <img src="../static/plus.png" >
            <input type="file" name="file" class="plus1"/>
       </div> 
       <div class="upload">
        <img src="../static/2.png" >
        <input type="submit" value="上传" class="plus2" />
       </div>
        
    </form>
</body>
</html>